node_modules/*
client-dist/*
nextgen/my-electron-app/*.mp4*
nextgen/my-electron-app/dist/*
nextgen/my-electron-app/sessions/*
nextgen/my-electron-app/node_modules/*
nextgen/my-electron-app/dist/youtube Setup 1.0.0.exe
nextgen/my-electron-app/dist/youtube Setup 1.0.0.exe.blockmap
dist/*
test-logrocket.js
rollbar.config.js
rollbar.config.cjs

# User data and config
database.json
config.json
backlog.txt
version.txt

# Logs and temp files
*.log
log2.txt
error.txt
parsed.txt
file/
video/
sessions/
bin/

