
node_modules/*
client-dist/*
nextgen/my-electron-app/*.mp4*
nextgen/my-electron-app/dist/*
nextgen/my-electron-app/sessions/*
nextgen/my-electron-app/node_modules/*
nextgen/my-electron-app/dist/youtube Setup 1.0.0.exe
nextgen/my-electron-app/dist/youtube Setup 1.0.0.exe.blockmap
dist/*
test-logrocket.js
