name: Build/release

on: 
  workflow_dispatch:
  push:
    branches: main
concurrency:
  group: "pages"
  cancel-in-progress: true
jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest,windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 23
      
      - name: Build/release Electron app
        uses: samuelmeuli/action-electron-builder@v1
        with:
          # GitHub token, automatically provided to the action
          # (No need to define this secret in the repo settings)
          github_token: ${{ secrets.github_token }}

          # If the commit is tagged with a version (e.g. "v1.0.0"),
          # release the app after building
          release: ${{ startsWith(github.ref, 'refs/tags/') }}
        
          args: "--publish always"
  publish:
    runs-on: ${{ matrix.os }}
    needs: release
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v3
        with:
               fetch-depth: 0
      - name: Create extension ZIP

        run: zip -r youtube-downloader-extension.zip extension/

      - name: Upload extension ZIP to release

        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./youtube-downloader-extension.zip
          asset_name: youtube-downloader-extension.zip
          asset_content_type: application/zip
      - name: Publish release
        uses: thomas-iniguez-visioli/publish-release@0.0.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          id: "test"
        
