name: Build/Release

on:
  workflow_dispatch:
  push:
    branches: main
  release:
    types: [published]

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  prepare-release:
    name: Prepare Release
    runs-on: ubuntu-latest
    outputs:
      release_id: ${{ steps.create_release.outputs.id }}
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get version from package.json
        id: version
        run: echo "version=$(jq -r '.version' package.json)" >> $GITHUB_OUTPUT

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        if: github.event_name != 'release'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.version.outputs.version }}
          release_name: ${{ steps.version.outputs.version }}
          body: |
            ### YouTube Downloader Extension
            - Extension Firefox pour télécharger des vidéos YouTube.
            - Archive de l'extension incluse dans les assets.
          draft: true
          prerelease: false

  build-and-upload:
    name: Build and Upload Assets
    needs: prepare-release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v4
        with:
          node-version: 23

      - name: Build Electron app
        uses: samuelmeuli/action-electron-builder@v1
        with:
          github_token: ${{ secrets.github_token }}
          release: true
          args: "--publish always"

      - name: Create extension ZIP
        if:  matrix.os == 'ubuntu-latest'
        run: zip -r youtube-downloader-extension.zip extension/

    

      - name: Upload extension ZIP to Release
        if:  matrix.os == 'ubuntu-latest'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prepare-release.outputs.upload_url }}
          asset_path: youtube-downloader-extension.zip
          asset_name: youtube-downloader-extension.zip
          asset_content_type: application/zip

  publish:
    runs-on: ubuntu-latest
    needs: build-and-upload
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Publish release
        uses: thomas-iniguez-visioli/publish-release@0.0.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          id: "test"
